n8n/post-call-qa-pipeline.json
{
  "name": "Switchboard — Post-Call AI QA Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "call-ended",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c3000000-0000-0000-0000-000000000001",
      "name": "Call Ended Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Payload from Retell (or the Next.js webhook relay)\nconst b = $input.item.json.body || $input.item.json;\nconst call = b.call || b;\n\nif (!call.call_id && !call.retell_call_id) {\n  throw new Error('Missing call id');\n}\n\nreturn {\n  json: {\n    retell_call_id: call.call_id || call.retell_call_id,\n    transcript: call.transcript || '',\n    duration_sec: call.duration_ms ? Math.round(call.duration_ms / 1000) : null,\n    location: (call.retell_llm_dynamic_variables || {}).location || 'Unknown'\n  }\n};"
      },
      "id": "c3000000-0000-0000-0000-000000000002",
      "name": "Extract Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.OPENAI_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: 'gpt-4o',\n  temperature: 0.1,\n  response_format: { type: 'json_object' },\n  messages: [\n    {\n      role: 'system',\n      content: 'You are a QA analyst for a dental clinic AI receptionist. Score this call transcript on four dimensions 0-100: greeting (proper opening, identified clinic and agent), compliance (identity verification before account data, no medical advice beyond triage guidance, secure handling of payment or policy numbers), resolution (was the caller objective achieved or correctly escalated), tone (empathy, pacing, no interruptions). Also classify outcome as booked, resolved, transferred, or voicemail. Respond ONLY with JSON: {\"overall\": int, \"greeting\": int, \"compliance\": int, \"resolution\": int, \"tone\": int, \"outcome\": string, \"note\": string (2 sentences max)}'\n    },\n    { role: 'user', content: $json.transcript }\n  ]\n}) }}",
        "options": { "timeout": 30000 }
      },
      "id": "c3000000-0000-0000-0000-000000000003",
      "name": "GPT-4o QA Scoring",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const qa = JSON.parse($json.choices[0].message.content);\nconst src = $('Extract Transcript').item.json;\nreturn { json: { ...src, qa } };"
      },
      "id": "c3000000-0000-0000-0000-000000000004",
      "name": "Parse QA",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/calls?retell_call_id=eq.{{ $json.retell_call_id }}&select=id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" }
          ]
        },
        "options": {}
      },
      "id": "c3000000-0000-0000-0000-000000000005",
      "name": "Lookup Call Row",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/qa_scores",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  call_id: $json[0].id,\n  overall: $('Parse QA').item.json.qa.overall,\n  greeting: $('Parse QA').item.json.qa.greeting,\n  compliance: $('Parse QA').item.json.qa.compliance,\n  resolution: $('Parse QA').item.json.qa.resolution,\n  tone: $('Parse QA').item.json.qa.tone,\n  note: $('Parse QA').item.json.qa.note\n}) }}",
        "options": {}
      },
      "id": "c3000000-0000-0000-0000-000000000006",
      "name": "Insert QA Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "leftValue": "={{ $('Parse QA').item.json.qa.overall }}",
              "rightValue": 80,
              "operator": { "type": "number", "operation": "lt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3000000-0000-0000-0000-000000000007",
      "name": "Low Score?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_QA_ALERT_WEBHOOK }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  text: ':rotating_light: Low QA score ' + $('Parse QA').item.json.qa.overall + ' on call ' + $('Parse QA').item.json.retell_call_id + ' (' + $('Parse QA').item.json.location + ')\\n> ' + $('Parse QA').item.json.qa.note\n}) }}",
        "options": {}
      },
      "id": "c3000000-0000-0000-0000-000000000008",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1780, 180]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, overall: $('Parse QA').item.json.qa.overall }) }}",
        "options": {}
      },
      "id": "c3000000-0000-0000-0000-000000000009",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 420]
    }
  ],
  "connections": {
    "Call Ended Webhook": { "main": [[{ "node": "Extract Transcript", "type": "main", "index": 0 }]] },
    "Extract Transcript": { "main": [[{ "node": "GPT-4o QA Scoring", "type": "main", "index": 0 }]] },
    "GPT-4o QA Scoring": { "main": [[{ "node": "Parse QA", "type": "main", "index": 0 }]] },
    "Parse QA": { "main": [[{ "node": "Lookup Call Row", "type": "main", "index": 0 }]] },
    "Lookup Call Row": { "main": [[{ "node": "Insert QA Score", "type": "main", "index": 0 }]] },
    "Insert QA Score": { "main": [[{ "node": "Low Score?", "type": "main", "index": 0 }]] },
    "Low Score?": {
      "main": [
        [{ "node": "Slack Alert", "type": "main", "index": 0 }],
        [{ "node": "Respond", "type": "main", "index": 0 }]
      ]
    },
    "Slack Alert": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {}
}
